
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% user = current_user()  %>
          <% if user != nil %>           
            <a href="#"> Logged in as <b><%= user.username  %></b> </a>  
          <% end %>
        </li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "All Posts", "/posts/" %></li>        
         <% if current_user() != nil %>
            <li>
              <%= link_to "Create Post", "/posts/new" %>
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>         
        <% else %>
          <li><%= link_to "New User", "/users/new" %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
        
      </ul>
    </nav>
